---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Our Services">
  <h1>Photography Services</h1>
  <ul>
    <li>Wedding Photography</li>
    <li>Pre-Wedding & Engagement Shoots</li>
    <li>Newborn & Maternity</li>
    <li>Candid Photography & Video</li>
    <li>Birthday & Housewarming</li>
    <li>Customized Packages</li>
  </ul>
</Layout>
