---
const today = new Date();
---

<footer>
	&copy; {today.getFullYear()} MK Photography. All rights reserved.
	<div class="social-links">
	<!-- Instagram -->
<a href="https://www.instagram.com/mkcandidphotography/" target="_blank" rel="noopener noreferrer">
  <span class="sr-only">Follow us on Instagram</span>
  <svg viewBox="0 0 448 512" aria-hidden="true" width="32" height="32">
    <path fill="currentColor" d="M224,202.66A53.34,53.34,0,1,0,277.34,256,53.38,53.38,0,0,0,224,202.66ZM398.8,80A48.6,48.6,0,0,0,368,51.2C337.14,48,110.86,48,80,51.2A48.6,48.6,0,0,0,51.2,80C48,110.86,48,337.14,51.2,368A48.6,48.6,0,0,0,80,398.8c30.86,3.2,257.14,3.2,288,0A48.6,48.6,0,0,0,398.8,368c3.2-30.86,3.2-257.14,0-288ZM224,338a82,82,0,1,1,82-82A82.09,82.09,0,0,1,224,338Zm85.4-148.1a19.2,19.2,0,1,1,19.2-19.2A19.18,19.18,0,0,1,309.4,189.9Z" />
  </svg>
</a>

<!-- Facebook -->
<a href="https://www.facebook.com/muthu21k" target="_blank" rel="noopener noreferrer">
  <span class="sr-only">Follow us on Facebook</span>
  <svg viewBox="0 0 320 512" aria-hidden="true" width="32" height="32">
    <path fill="currentColor" d="M279.14 288l14.22-92.66h-88.91V133.33c0-25.35 12.42-50.06 52.24-50.06h40.42V6.26S271.11 0 243.1 0c-73.22 0-121.1 44.38-121.1 124.72V195.3H83.33V288h38.67v224h94.67V288z"/>
  </svg>
</a>

	</div>
</footer>
<style>
	footer {
		padding: 2em 1em 6em 1em;
		background: linear-gradient(var(--gray-gradient)) no-repeat;
		color: rgb(var(--gray));
		text-align: center;
	}
	.social-links {
		display: flex;
		justify-content: center;
		gap: 1em;
		margin-top: 1em;
	}
	.social-links a {
		text-decoration: none;
		color: rgb(var(--gray));
	}
	.social-links a:hover {
		color: rgb(var(--gray-dark));
	}
</style>
